/* .nav {
  width: 100%;
  height: 7.5%;
  margin: 5px 5px;
  background-color: royalblue
} */

#photoapp {
  font-family: sans-serif;
  text-align: center;
}
 
#photoapp #all-image-container {
  float: left;
  /* height: 20px; */
  width: 30%;
  /* background-color: coral; */
}
 
#photoapp #all-image-container #image-album-column {
  width: 25%;
  float: left;
  /* background-color: purple; */
}
 
#photoapp #all-image-container #image-album-column #one-image {
  border: 1px solid black;
  /* padding: 20px 15px; */
  margin: 2px 7.5px;
  width: 50px;
  height: 50px;
}
 
/* #app #all-image-container #selected-image-display {
  width: 70%;
  height: 500px;
  border: 1px solid black;
  object-fit: cover;
  float: right;
  background-color: green; 
} */

.a-image-zoom-conatainer {
  float: right;
  width: 70% !important;
  border: 1px solid black;
}

.large-image-container {
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}